<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function getSet(setcode){
        console.log(setcode);
        console.log("test");
        let host = window.location.origin;
        $.ajax({
            type:"GET",
            url: host + "/Ajax-handler",
            data: {"action": "get_booster", "setcode": setcode},
            success: function(data){
                console.log(data);
                let obj = JSON.parse(data);
                result = "";
                for (const objKey in obj) {
                    result += obj[objKey] +  '\n' ;
                }
                $('#results').text(result);

            },
            error: function (e) {
                console.log(e); // logging the error object to console
            },
        })
    }


    function saveCards(cards) {
        let host = window.location.origin;
        //let card_arr = cards.split(",");
        $.ajax({
            type: "GET",
            url: host + "/Ajax-handler",
            data: {"action": "save_cards", "cards": cards},
            success: function (data) {
                console.log(data)
                console.log("Cards Saved!");
            }
        })
    }
    </script>
    <meta charset="UTF-8">
    <title>Booster</title>
</head>
<body>
{%for item in sets%}
    <button class="set-button" value="{{item._id}}" onclick="getSet(this.value)">{{item.Name}}</button>
{%endfor%}
<pre><div id="results"></div></pre>
<br>
<br>
<button class="set_button" value="Save" onclick="saveCards(result)">Save To Profile</button>

</body>
</html>