<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function getSet(setcode){
        console.log(setcode);
        console.log("test");
        let host = window.location.origin;
        $.ajax({
            type:"GET",
            url: host + "/Ajax-handler",
            data: {"action": "get_booster", "setcode": setcode},
            success: function(data){
                $('#results').innerHTML.text(data);

            },
            error: function (e) {
                console.log(e); // logging the error object to console
            },
        })
    }
    </script>
    <meta charset="UTF-8">
    <title>Booster</title>
</head>
<body>
{%for item in sets%}
    <button class="set-button" value="{{item._id}}" onclick="getSet(this.value)">{{item.Name}}</button>
{%endfor%}
<div id="results"></div>
</body>
</html>